//Rör inte mer här nu det funkar både mobile och desktop//

.head-news1 {
  display: flex;
  flex-direction: column;
  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
  }
}
.test_share {
  max-width: 100vw;
  height: 80vh;
  justify-content: center;
  @media (min-width: 900px) {
    width: 100%;
    height: 100%;
  }
}
.art-share {
  text-align: center;
  font-family: "Montserrat";
  font-size: 4vmin;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.33px;
  color: #e32700;
  @media (min-width: 900px) {
    font-size: 3.6vmin;
    padding-top: 15%;
  }
}
.mars-art-p {
  width: 80vw;
  font-family: "Montserrat";
  font-size: 2.5vmin;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.67px;
  color: #323232;
  padding: 8vw;
  @media (min-width: 900px) {
    padding-top: 3%;
    width: 35vw;
    height: 20vh;
    font-size: 1.6vmin;
  }
}
span.marsone {
  font-weight: bold;
  color: #e32700;
}
.pic1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  @media (min-width: 700px) {
    max-width: 100%;
  }
}
.marsone {
  color: #e32700;
}
